.a{
    background: pink;
}
.b{
    background: salmon;
}
.b li{
    background: seagreen;
}
.c{
    background: lightgreen;
    width: 400px;
    height: 400px;
    /* c클래스는 strong태그들이기 때문에 인라인레벨태그로 가로세로 크기를 지정할 수 없음 */
}
.c+.a{display: inline;}
/* 원래 p태그는 기본값(1점)으로 display 속성이 block으로 되어있는데, 20점의 display 속성을 inline으로 부여해서 p태그를 인라인레벨태그처럼 사용할 수 있음 */
.d{
    width: 400px;
    background: rebeccapurple;
    height: 400px;
}